.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.btnGroup {
  background: #9C27B0;
}

.fab-bottom-left {
  background-color: #FFC107;
}

.mat-column-user{
  max-width: 180px;
}
.mat-column-role{
  max-width: 160px;
}
.mat-column-actions{
  max-width: 100px;
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

.mat-mdc-form-field {
  background: darkorchid;
  font-size: 14px;
  width: 100%;
  align-self: flex-end;
}

.mdc-data-table__header-cell {
  text-align: center;
}

.mat-mdc-header-row{
  background-color: darkorchid;
}