.name {
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.mat-form-field{
  width: 100%;
  margin-top: 20px;
}
.alert{
  padding: 10px 16px;
  background: #2fbfc0;
  color: #fff; 
  border-radius: 4px;
  margin: 10px 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.alert mat-icon{
  margin-right: 14px;
}
.alert span{
  font-size: 14px;
}

.cont-warning{
  display: flex;
  flex-direction: row;
}
.cont-warning .icon{
  color:#f44336;
  font-size: 60px;
  margin-right: 20px;
}
.cont-info-actions{
  flex: auto;
}
.cont-warning .mat-dialog-title {
  margin: 0 0 5px;
}
.cont-info-actions strong{
  color:#f44336;
}