.card-500 {
    width: 250px;
    margin-bottom: 0px;
    padding: 2rem !important;
    background-color: #ac47e7 !important;
}

#ip-background{
    background-repeat: no-repeat;
}

#titleLogin {
    margin-top: 1.5rem;
}

#titleLogin,
#subtitleLogin {
    color: #fff!important;
    font-weight: 80;
}

#titleLogin h4 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-weight: 200;
}

#subtitleLogin h6 {
    font-size: 0.8rem !important;
    line-height: 1.5rem !important;
    font-weight: 400!important;
}


button.submitV2 {
    width: 100%;
    background-color: #ffb600 !important;
    color: #373a36 !important;
    height: 42px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 1em;
}