<mat-form-field fxFlexFill>
  <label>
    <input matInput placeholder="{{name}}" formControlName="{{controlName}}" [required]="required" maxlength="{{maxLength}}">
  </label>
  <span matPrefix *ngIf="controlName === 'mobile' || controlName === 'phone'">+&nbsp;</span>
  <mat-hint align="start">{{description}}</mat-hint>
  <mat-hint align="end" class="nowrap">{{Utils.getFieldControlLength(form, controlName)}} / {{maxLength}}</mat-hint>
  <mat-error>{{i18nService.getValidationMessage(form.controls[controlName])}}</mat-error>
</mat-form-field>
