.menuActive {
  color: rgba(0, 255, 115, 0.43);
}

.sidebar {
  width: 190px;
  color: rgb(251, 248, 248);
  background: #ce1ee9a9;
  
}

::ng-deep .sidebar .mat-list-item-content {
  color: white !important;
  font-weight: 300 !important;
}

::ng-deep .mat-list-item-content .mat-icon {
  margin-right: 1rem;
}

::ng-deep .mat-sidenav .profile {
  margin: 10px 0px;
  padding: 0.5rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.toolbar {
  height: 40px;
}

.content {
  flex: 1;
  padding: 20px;
  background: #E9EAEF;
  margin: 0px;
}

mat-icon {
  width: 35px;
}

::ng-deep layout-header {
    margin-left: 0rem;
}
#logoFull {
  margin: 1.5rem;
}

#logoMini {
  width: 0;
}

#logoFull img#logof {
  width: 150px;
}

::ng-deep mat-sidenav:not(.mat-drawer-opened) #logoFull {
  margin: 0 !important;
}

::ng-deep mat-sidenav:not(.mat-drawer-opened) #logoFull img#logof {
  width: 0px !important;
}
::ng-deep mat-sidenav:not(.mat-drawer-opened) #logoFull img#logoMini{
    width: 35% !important;
    margin: 1rem !important;
}
::ng-deep mat-sidenav:not(.mat-drawer-opened) .mat-list-item-content .mat-icon {
  margin-right: 0 !important;
}

::ng-deep mat-sidenav:not(.mat-drawer-opened) #avatarUser {
  max-width: 80% !important;
}

::ng-deep mat-sidenav:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  width: 70px !important;
  overflow: hidden !important;
}

::ng-deep mat-sidenav:not(.mat-drawer-opened) .itemName {
  display: none;
}

::ng-deep mat-sidenav:not(.mat-drawer-opened) #userName {
  display: none !important;
}

::ng-deep mat-sidenav:not(.mat-drawer-opened) #userRole {
  display: none !important;
}

/* ::ng-deep mat-sidenav-container #layoutPrincipal {
    margin-left: 0px!important;
} */
::ng-deep mat-sidenav:not(.mat-drawer-opened) ~  
::ng-deep mat-sidenav-content #layoutPrincipal ::ng-deep layout-header header mat-toolbar #menu {
    margin-left: 74px!important
  
}
::ng-deep mat-sidenav:not(.mat-drawer-opened) ~  
::ng-deep mat-sidenav-content #layoutPrincipal .content:nth-child(2){
    margin-left: 60px !important;
}


