<header>
  <mat-toolbar color="primary" fxLayout="row" class="toolbar" >
    <button id="menu" fxLayoutAlign="start" type="button" mat-icon-button >
        <mat-icon>menu</mat-icon>
    </button>Tabla IP
    <div>
      <ng-container>
          <mat-icon svgIcon="settings"></mat-icon>

        <!-- <button type="button" mat-icon-button (click)="logout()" matTooltip="Salir">
          <mat-icon svgIcon="exit"></mat-icon>
        </button> -->

      </ng-container>
    </div>
  </mat-toolbar>
</header>
